.block,.block-lg,.block-md,.block-sm,.block-xl,.block-xs {
	display: block
}

#cboxNext,#cboxPrevious {
	outline: 0
}

@font-face {
	font-family:'Optima Regular';src:url(../fonts/optima-regular.ttf)
}

h1 {
	font-weight: 400;
	font-family: 'Optima Regular'
}

.ti-xs {
	text-indent: 3px
}

.ti-sm {
	text-indent: 6px
}

.ti-md {
	text-indent: 9px
}

.ti-lg {
	text-indent: 12px
}

.ti-xl {
	text-indent: 15px
}

.fl {
	float: left
}

.flr {
	float: right
}

.cl {
	clear: both
}

.ta {
	text-align: left
}

.tac {
	text-align: center
}

.tar {
	text-align: right
}

.taj {
	text-align: justify
}

.por {
	position: relative
}

.poa {
	position: absolute
}

.pof {
	position: fixed
}

.m0 {
	margin: 0
}

.m-xs {
	margin: 5px
}

.m-sm {
	margin: 10px
}

.m-md {
	margin: 20px
}

.m-lg {
	margin: 40px
}

.m-xl {
	margin: 60px
}

.mv-xs {
	margin-top: 5px;
	margin-bottom: 5px
}

.mv-sm {
	margin-top: 10px;
	margin-bottom: 10px
}

.mv-md {
	margin-top: 20px;
	margin-bottom: 20px
}

.mv-lg {
	margin-top: 40px;
	margin-bottom: 40px
}

.mv-xl {
	margin-top: 60px;
	margin-bottom: 60px
}

.mh-xs {
	margin-left: 5px;
	margin-right: 5px
}

.mh-sm {
	margin-left: 10px;
	margin-right: 10px
}

.mh-md {
	margin-left: 20px;
	margin-right: 20px
}

.mh-lg {
	margin-left: 40px;
	margin-right: 40px
}

.mh-xl {
	margin-left: 60px;
	margin-right: 60px
}

.mt-xs {
	margin-top: 5px
}

.mt-sm {
	margin-top: 10px
}

.mt-md {
	margin-top: 20px
}

.mt-lg {
	margin-top: 40px
}

.mt-xl {
	margin-top: 60px
}

.mb-xs {
	margin-bottom: 5px
}

.mb-sm {
	margin-bottom: 10px
}

.mb-md {
	margin-bottom: 20px
}

.mb-lg {
	margin-bottom: 40px
}

.mb-xl {
	margin-bottom: 60px
}

.ml-xs {
	margin-left: 5px
}

.ml-sm {
	margin-left: 10px
}

.ml-md {
	margin-left: 20px
}

.ml-lg {
	margin-left: 40px
}

.ml-xl {
	margin-left: 60px
}

.mr-xs {
	margin-right: 5px
}

.mr-sm {
	margin-right: 10px
}

.mr-md {
	margin-right: 20px
}

.mr-lg {
	margin-right: 40px
}

.mr-xl {
	margin-right: 60px
}

.p0 {
	padding: 0
}

.p-xs {
	padding: 5px
}

.p-sm {
	padding: 10px
}

.p-md {
	padding: 20px
}

.p-lg {
	padding: 40px
}

.p-xl {
	padding: 60px
}

.pv-xs {
	padding-top: 5px;
	padding-bottom: 5px
}

.pv-sm {
	padding-top: 10px;
	padding-bottom: 10px
}

.pv-md {
	padding-top: 20px;
	padding-bottom: 20px
}

.pv-lg {
	padding-top: 40px;
	padding-bottom: 40px
}

.pv-xl {
	padding-top: 60px;
	padding-bottom: 60px
}

.ph-xs {
	padding-left: 5px;
	padding-right: 5px
}

.ph-sm {
	padding-left: 10px;
	padding-right: 10px
}

.ph-md {
	padding-left: 20px;
	padding-right: 20px
}

.ph-lg {
	padding-left: 40px;
	padding-right: 40px
}

.ph-xl {
	padding-left: 60px;
	padding-right: 60px
}

.pt-xs {
	padding-top: 5px
}

.pt-sm {
	padding-top: 10px
}

.pt-md {
	padding-top: 20px
}

.pt-lg {
	padding-top: 40px
}

.pt-xl {
	padding-top: 60px
}

.pb-xs {
	padding-bottom: 5px
}

.pb-sm {
	padding-bottom: 10px
}

.pb-md {
	padding-bottom: 20px
}

.pb-lg {
	padding-bottom: 40px
}

.pb-xl {
	padding-bottom: 60px
}

.pl-xs {
	padding-left: 5px
}

.pl-sm {
	padding-left: 10px
}

.pl-md {
	padding-left: 20px
}

.pl-lg {
	padding-left: 40px
}

.pl-xl {
	padding-left: 60px
}

.pr-xs {
	padding-right: 5px
}

.pr-sm {
	padding-right: 10px
}

.pr-md {
	padding-right: 20px
}

.pr-lg {
	padding-right: 40px
}

.pr-xl {
	padding-right: 60px
}

.cu {
	cursor: pointer
}

.block {
	margin: 0 auto
}

.block-xs {
	margin: 5px auto
}

.block-sm {
	margin: 10px auto
}

.block-md {
	margin: 20px auto
}

.block-lg {
	margin: 40px auto
}

.block-xl {
	margin: 60px auto
}

@media screen {
	.full,figure.full img {
		width: 100%;
		height: 100%
	}

	.theme-black,.theme-fog,article,figure {
		position: relative
	}

	.super a,article a {
		letter-spacing: .5px;
		line-height: 20px;
		border-bottom: 1px solid #fff
	}

	.super a:active,.super a:focus,.super a:hover,.theme-fog,article a:active,article a:focus,article a:hover {
		color: #fff
	}

	.ovh {
		overflow: hidden
	}

	article {
		z-index: 1
	}

	article h1 {
		font-size: 26px
	}

	article h3 {
		margin-top: 0;
		font-size: 20px
	}

	article h4 {
		font-size: 15px
	}

	.super,article a,article p {
		font-size: 12px
	}

	article p {
		letter-spacing: .5px;
		text-align: justify;
		line-height: 20px
	}

	figure {
		margin: 0;
		padding: 0
	}

	.flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex
	}

	.theme-black {
		background-color: #000;
		color: #fff
	}

	.theme-fog {
		background-color: rgba(0,0,0,.7)
	}

	.super {
		position: absolute;
		display: block;
		z-index: 3;
		bottom: 30px;
		right: 35px
	}

	.mb30 {
		margin-bottom: 30px
	}

	.show-active {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility .5s linear,opacity .5s linear;
		transition: visibility .5s linear,opacity .5s linear
	}

	.show-active.active {
		opacity: 1;
		visibility: visible
	}

	.show-active.active.delay {
		-webkit-transition: visibility .8s linear .3s,opacity .8s linear .65s;
		transition: visibility .8s linear .3s,opacity .8s linear .65s
	}

	.show-active.delay {
		-webkit-transition: visibility .5s linear,opacity .5s linear;
		transition: visibility .5s linear,opacity .5s linear
	}

	.hide {
		display: none!important
	}

	.hide-sm {
		display: none
	}

	.hide-lg {
		display: block
	}

	.summary {
		padding-left: 31px
	}

	.photo {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center
	}
}

@media screen and (min-width:768px) {
	article a,article p {
		letter-spacing: .5px;
		line-height: 20px
	}

	article h1 {
		font-size: 40px
	}

	article h3 {
		font-size: 26px
	}

	article h4 {
		font-size: 18.16px
	}

	.super,article a,article p {
		font-size: 13px
	}

	article p {
		text-align: justify
	}

	.hide-sm {
		display: block
	}

	.hide-lg {
		display: none
	}

	.summary {
		width: 480px;
		margin: 0 auto;
		padding-left: 0
	}

	.summary .layout-md-half {
		width: calc(50% - 40px);
		display: inline-block
	}

	.summary .layout-md-half:first-of-type {
		float: left
	}

	.summary .layout-md-half:last-of-type {
		float: right
	}

	.summary .su-mt {
		margin-top: 2px
	}

	.summary .su-mt-text {
		margin-top: 3px
	}

	.super {
		bottom: 9%;
		right: 68px
	}

	.header {
		display: none
	}
}

@media screen and (min-width:1280px) {
	.hide-xl {
		display: none
	}

	article h1 {
		font-size: 40px
	}

	article h3 {
		font-size: 30px;
		margin-bottom: 48px
	}

	article h4 {
		font-size: 19.74px
	}

	article a,article p {
		font-size: 14px;
		line-height: 24px
	}

	.summary .su-mt {
		margin-top: 4px
	}

	.summary .su-mt-text {
		margin-top: 7px
	}

	.super {
		bottom: 10%;
		right: 92px;
		font-size: 14px
	}
}

@media screen {
	.header {
		position: fixed;
		height: 60px;
		width: 85px;
		top: 0;
		right: 0;
		z-index: 2
	}

	.first-article {
		margin: 60px auto 0;
		text-align: center;
		color: #fff
	}

	.first-article h1 {
		margin: 0 0 55px
	}

	.first-article p {
		font-size: 13px;
		margin-bottom: 20px;
		letter-spacing: .1px;
		line-height: 28px
	}

	.variable {
		position: relative;
		width: 100%;
		z-index: 1;
		background-color: #000
	}

	.bac,.variable.to-bright::before {
		position: absolute;
		top: 0;
		width: 100%
	}

	.variable.to-full-height {
		min-height: 100vh;
		-webkit-transition: transform .3s ease-out;
		-webkit-transition: -webkit-transform .3s ease-out;
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		transition: transform .3s ease-out,-webkit-transform .3s ease-out
	}

	.variable.to-full-height .show-full-height {
		max-height: 0;
		overflow: hidden
	}

	.variable.to-bright {
		height: 100vh;
		color: #fff;
		-webkit-transition: color .9s linear;
		transition: color .9s linear
	}

	.variable.to-bright::before {
		content: '';
		height: 100%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-color: #000;
		opacity: 1;
		-webkit-transition: opacity .9s linear,background-color .9s linear;
		transition: opacity .9s linear,background-color .9s linear
	}

	.variable.active.to-full-height .show-full-height {
		max-height: 500px;
		-webkit-transition: max-height .5s linear;
		transition: max-height .5s linear
	}

	.variable.active.to-bright {
		color: #000
	}

	.variable.active.to-bright::before {
		opacity: .4;
		background-color: #fff
	}

	.bac {
		height: 100vh
	}

	.content-padding {
		margin: 0 auto
	}

	.content-padding.min-full {
		width: 100%;
		min-height: 100vh
	}

	.content-padding.two {
		padding-top: 175px;
		height: calc(100% - 230px)
	}

	.content-padding.scroll {
		overflow-y: scroll;
		-ms-overflow-style: none
	}

	.content-padding.scroll::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none
	}

	.content-padding.scroll::-webkit-scrollbar-track {
		background-color: transparent
	}

	.content-padding.scroll::-webkit-scrollbar-thumb {
		background-color: transparent
	}

	.content-padding.scroll::-webkit-scrollbar-button {
		background-color: transparent
	}

	.content-padding.scroll::-webkit-scrollbar-corner {
		background-color: transparent
	}

	.content-padding article {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		position: relative;
		padding: 80px 35px 68px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center;
	}

	.content-padding article::after {
		content: '';
		display: block;
		clear: both
	}

	.slider-wrapper {
		position: relative;
		z-index: 1
	}

	.scroll-hint {
		display: none
	}

	.custom-blank {
		height: 38px
	}

	.brands-wrapper {
		position: relative
	}

	.brands-wrapper .brands-pd {
		padding: 110px 0 0
	}

	.brands-wrapper .brands-text {
		margin: 0;
		padding-bottom: 48px;
		letter-spacing: .9px;
		font-weight: 700;
		font-size: 15px;
		text-align: center
	}

	.brands-wrapper .brands-figure {
		position: relative
	}

	.brands-wrapper .brands-figure .brands-item {
		position: relative;
		display: block;
		width: 50%;
		float: left
	}

	.brands-wrapper .brands-figure .brands-item figure {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		position: relative;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-justify-content: center
	}

	.brands-wrapper .brands-figure .brands-item img {
		position: relative;
		width: 100%;
		height: 100%
	}

	.brands-wrapper .brands-figure .brands-item figcaption {
		position: absolute;
		text-align: center;
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		-webkit-align-self: center;
		width: 75%;
		left: 12.5%;
		top: calc(50% - 11px);
		height: 22px;
		line-height: 22px;
		font-size: 12px;
		z-index: 3
	}

	.brands-wrapper .brands-figure::after {
		content: '';
		clear: both;
		display: block
	}

	._mask {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .85;
		z-index: 2;
		-webkit-transition: opacity .3s linear;
		transition: opacity .3s linear
	}

	._mask.tran {
		opacity: 0
	}

	.showcase-pt {
		padding-top: 55px
	}

	.custom-hidden-sm {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility .3s ease-out,opacity .3s ease-out;
		transition: visibility .3s ease-out,opacity .3s ease-out
	}

	.custom-hidden-sm.tran {
		opacity: 1;
		visibility: visible
	}

	.social-media-wrapper {
		position: absolute;
		bottom: 90px;
		left: 32px;
		z-index: 1
	}

	.social-media-wrapper a+a {
		margin-left: 21px
	}

	.height-update {
		min-height: 100%;
		height: auto!important
	}
}

@media screen and (min-width:768px) {
	.lock-w {
		max-width: 560px
	}

	.lock-w-2 {
		max-width: 510px
	}

	.first-article {
		margin-top: 0;
		z-index: 1
	}

	.first-article h1 {
		font-size: 40px;
		margin: 0 0 40px
	}

	.first-article p {
		font-size: 13px;
		letter-spacing: .5px;
		line-height: 26px
	}

	.content-padding.pad-to-left,.content-padding.pad-to-right {
		width: 50%
	}

	.content-padding.pad-to-left {
		float: left
	}

	.content-padding.pad-to-left article {
		padding-left: 88px;
		padding-right: 68px
	}

	.content-padding.pad-to-left.second {
		width: 500px
	}

	.content-padding.pad-to-right {
		float: right
	}

	.content-padding.pad-to-right article {
		padding-left: 68px;
		padding-right: 120px
	}

	// .content-padding article {
	// 	padding: 0 70px
	// }

	.scroll-hint {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-direction: column;
		left: calc(50% - 100px);
		width: 200px;
		bottom: 32px;
		z-index: 1
	}

	.scroll-hint * {
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		-webkit-align-self: center
	}

	.scroll-hint p {
		margin: 10px 0 0;
		text-align: center;
		color: #ccc;
		font-size: 12px
	}

	.custom-blank {
		height: 58px
	}

	.brands-wrapper .brands-pd {
		padding: 170px 0 0
	}

	.brands-wrapper .brands-text {
		padding-bottom: 68px;
		letter-spacing: .9px;
		font-size: 26px;
		font-weight: 400
	}

	.brands-wrapper .brands-figure .brands-item {
		width: 33.33%
	}

	.brands-wrapper .brands-figure .brands-item figcaption {
		font-size: 15px
	}

	.showcase-pt {
		padding-top: 70px
	}

	.custom-hidden-sm {
		opacity: 1;
		visibility: visible
	}

	.social-media-wrapper {
		position: absolute;
		bottom: 80px;
		left: calc(50% - 82px);
		width: 165px;
		z-index: 1
	}

	.social-media-wrapper a+a {
		margin-left: 21px
	}

	.height-update {
		height: 100vh!important
	}
}

@media screen and (min-width:1280px) {
	.lock-w {
		max-width: 560px
	}

	.lock-w-2 {
		max-width: 710px
	}

	.content-padding.pad-to-left,.content-padding.pad-to-right {
		width: 50%
	}

	.content-padding.pad-to-left {
		float: left
	}

	.content-padding.pad-to-left article {
		padding-left: 25%;
		padding-right: 92px;
		width: 65%;
	}

	.content-padding.pad-to-left.second {
		width: 790px
	}

	.content-padding.pad-to-right {
		float: right
	}

	.content-padding.pad-to-right article {
		padding-right: 160px;
		padding-left: 10%;
		width: 65%;
	}

	.custom-blank {
		height: 90px
	}

	.brands-wrapper .brands-pd {
		padding: 255px 0 0
	}

	.brands-wrapper .brands-text {
		padding-bottom: 114px;
		letter-spacing: 1px;
		font-size: 30px
	}

	.brands-wrapper .brands-figure .brands-item:hover figure::before {
		background-color: transparent
	}

	.brands-wrapper .brands-figure .brands-item figure::before {
		content: '';
		position: absolute;
		background-color: rgba(0,0,0,.85);
		width: 100%;
		height: 100%;
		z-index: 1;
		-webkit-transition: background-color .3s ease-out;
		transition: background-color .3s ease-out
	}

	.brands-wrapper .brands-figure .brands-item figcaption {
		font-size: 23px
	}

	.showcase-pt {
		padding-top: 115px
	}

	.social-media-wrapper {
		position: absolute;
		bottom: 120px;
		left: calc(50% - 92px);
		width: 186px;
		z-index: 1
	}

	.social-media-wrapper a+a {
		margin-left: 24px
	}
}

@media screen {
	.footer {
		position: relative;
		width: 100%;
		height: 38px;
		text-align: center;
		background-color: #000;
		z-index: 1
	}

	.footer p {
		line-height: 38px;
		margin: 0;
		font-size: 12px;
		color: #fff;
		-webkit-transform: scale(.75);
		transform: scale(.75)
	}

	.bg,.bg.final1,.bg.final2,.bg.final3 {
		background-position: center center
	}

	.bg {
		background-repeat: no-repeat;
		background-size: cover
	}

	.bg.final1 {
		background-image: url(../images/bg/final1-sm.jpg)
	}

	.bg.final2 {
		background-image: url(../images/bg/final2-sm.jpg)
	}

	.bg.final3 {
		background-image: url(../images/bg/final3-sm.jpg)
	}
}

@media screen and (min-width:768px) {
	.footer {
		height: 66px
	}

	.footer p {
		line-height: 66px;
		-webkit-transform: none;
		transform: none
	}

	.bg.final1 {
		background-image: url(../images/bg/final1-md.jpg);
		background-position: right 15% bottom 30%;
		-webkit-transform-origin: 85% center;
		transform-origin: 85% center
	}

	.bg.final2 {
		background-image: url(../images/bg/final2-md.jpg)
	}

	.bg.final3 {
		background-image: url(../images/bg/final3-md.jpg);
		background-position: right 35% center
	}
}

@media screen and (min-width:1280px) {
	.footer {
		text-align: right;
		height: 60px
	}

	.footer p {
		line-height: 60px;
		padding-right: 42px;
		font-size: 13px
	}

	.bg.final1 {
		background-image: url(../images/bg/final1.jpg)
	}

	.bg.final2 {
		background-image: url(../images/bg/final2.jpg)
	}

	.bg.final3 {
		background-image: url(../images/bg/final3.jpg)
	}
}

@media screen {
	.popup {
		position: fixed;
		top: 40px;
		right: 20px;
		bottom: 45px;
		left: 20px;
		background-color: rgba(255,255,255,1);
		visibility: hidden;
		opacity: 0;
		z-index: 3;
		-webkit-transition: all .3s linear;
		transition: all .3s linear
	}

	.popup.active {
		visibility: visible;
		opacity: 1
	}

	.popup .popup-header {
		position: relative;
		height: 50px
	}

	.popup .popup-header .icon {
		position: absolute;
		right: 14px;
		top: 14px
	}

	.popup .popup-wrapper {
		position: relative;
		padding: 0 10px;
		height: calc(100% - 50px);
		overflow-y: auto
	}

	.popup .popup-wrapper .content {
		position: relative;
		height: 25%;
		min-height: 140px;
		overflow-y: auto;
		margin: 15px 0
	}

	.popup .popup-wrapper .content h3 {
		margin-top: 0;
		font-size: 21px
	}

	.popup .popup-wrapper .content p {
		font-size: 12px
	}

	.popup.video {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000
	}

	.popup.video .popup-header {
		position: absolute;
		top: 0;
		right: 0;
		height: 50px
	}

	.popup.video .popup-header .icon {
		position: absolute;
		right: 14px;
		top: 14px;
		z-index: 1
	}

	.popup.video .popup-wrapper {
		position: relative;
		padding: 0;
		margin: 0;
		height: 100%
	}

	.news-photo-preview-wrapper {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 100%
	}

	.news-photo-preview-wrapper .news-photo-preview-list {
		position: relative;
		width: 100%;
		padding-left: 0;
		margin: 0
	}

	.news-photo-preview-wrapper .news-photo-preview-list .photo {
		width: 100%;
		padding-bottom: 66.13%
	}

	.news-photo-preview-wrapper .news-photo-preview-list>li {
		list-style-type: none;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		top: 0;
		-webkit-transition: opacity 1s ease-out,visibility 0s ease-out 1s;
		transition: opacity 1s ease-out,visibility 0s ease-out 1s
	}

	.news-photo-preview-wrapper .news-photo-preview-list>li.is-active {
		opacity: 1;
		visibility: visible;
		-webkit-transition: opacity 1s ease-out,visibility 0s ease-out;
		transition: opacity 1s ease-out,visibility 0s ease-out
	}

	.news-photo-preview-wrapper .news-photo-preview-list>li:first-child {
		position: relative
	}
}

@media screen and (min-width:768px) {
	.popup {
		left: 68px;
		right: 68px;
		bottom: auto;
		top: calc(50% - 232.5px);
		height: 465px
	}

	.popup .popup-wrapper {
		position: relative;
		padding: 0 22px;
		height: calc(100% - 46px - 4px);
		overflow: auto
	}

	.popup .popup-wrapper .slider-wrapper {
		float: left;
		width: 61.43%
	}

	.popup .popup-wrapper .content {
		float: right;
		width: calc(38.57% - 20px);
		height: auto;
		overflow: visible
	}

	.popup .popup-wrapper .content h3 {
		font-size: 30px
	}

	.news-photo-preview-wrapper {
		width: 60%;
		float: left;
		margin-bottom: 15px
	}
}

@media screen and (min-width:1280px) {
	.popup,.popup.video {
		top: calc(50% - 345px);
		height: 690px
	}

	.popup.video {
		left: 128px;
		width: calc(100% - 256px)
	}

	.popup .popup-wrapper .slider-wrapper {
		width: 56%
	}

	.popup .popup-wrapper .content {
		width: calc(44% - 20px)
	}

	.news-photo-preview-wrapper {
		width: 56%
	}
}

.button {
	border: 0;
	position: relative
}

@media screen {
	.icon.close,.icon.close-b,.icon.frame,.icon.frame-sm,.icon.scroll {
		background-position: center center;
		background-repeat: no-repeat
	}

	.icon {
		display: inline-block;
		border: 0;
		position: relative
	}

	.icon.close {
		width: 18px;
		height: 18px;
		background-size: 18px 18px;
		background-image: url(../images/mobile_svg/mobile-01.svg)
	}

	.icon.close-b {
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		background-image: url(../images/mobile_svg/mobile-02.svg)
	}

	.icon.scroll {
		width: 152px;
		height: 117px;
		background-size: 152px 117px;
		background-image: url(../images/icons/pad_scroll_pad.svg)
	}

	.icon.frame-sm {
		width: 60px;
		height: 36px;
		background-size: 60px 36px;
		background-image: url(../images/logo/mobile_logo.svg)
	}

	.icon.frame {
		width: 177px;
		height: 122px;
		background-size: 177px 122px;
		background-image: url(../images/mobile_svg/mobile-04.svg)
	}

	.icon.home-integration {
		width: 145px;
		height: 15px;
		background-size: 145px 15px;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../images/mobile_svg/mobile-03.svg)
	}

	.icon.facebook,.icon.google,.icon.instagram,.icon.twitter {
		width: 22px;
		height: 22px;
		background-size: 22px 22px;
		background-position: center center;
		background-repeat: no-repeat
	}

	.icon.facebook {
		background-image: url(../images/social-media/icon_pad_mobile-05.svg)
	}

	.icon.google {
		background-image: url(../images/social-media/icon_pad_mobile-06.svg)
	}

	.icon.twitter {
		background-image: url(../images/social-media/icon_pad_mobile-07.svg)
	}

	.icon.instagram {
		background-image: url(../images/social-media/icon_pad_mobile-08.svg)
	}
}

@media screen and (min-width:768px) {
	.icon.close,.icon.close-b {
		width: 21px;
		height: 21px;
		background-size: 21px 21px
	}

	.icon.close-b,.icon.home-integration {
		background-position: center center;
		background-repeat: no-repeat
	}

	.icon.close-b {
		background-image: url(../images/pad_svg/pad-04.svg)
	}

	.icon.frame-sm {
		width: 68px;
		height: 40px;
		background-size: 68px 40px;
		background-image: url(../images/logo/pad_logo.svg)
	}

	.icon.frame {
		width: 237px;
		height: 152px;
		background-size: 237px 152px;
		background-image: url(../images/pad_svg/pad-01.svg)
	}

	.icon.home-integration {
		width: 187px;
		height: 19px;
		background-size: 187px 19px;
		background-image: url(../images/pad_svg/pad-06.svg)
	}
}

@media screen and (min-width:1280px) {
	.icon.close,.icon.close-b {
		width: 33px;
		height: 33px;
		background-size: 33px 33px
	}

	.icon.close-b,.icon.facebook,.icon.home-integration {
		background-position: center center;
		background-repeat: no-repeat
	}

	.icon.close-b {
		background-image: url(../images/pc_svg/pc-05.svg)
	}

	.icon.scroll {
		width: 152px;
		height: 139px;
		background-size: 152px 139px;
		background-image: url(../images/icons/pad_scroll_pc.svg)
	}

	.icon.frame-sm {
		width: 82px;
		height: 47px;
		background-size: 82px 47px;
		background-image: url(../images/logo/pc_logo.svg)
	}

	.icon.frame {
		width: 266px;
		height: 166px;
		background-size: 266px 166px;
		background-image: url(../images/pc_svg/pc-01.svg)
	}

	.icon.home-integration {
		width: 207px;
		height: 21px;
		background-size: 207px 21px;
		background-image: url(../images/pc_svg/pc-03.svg)
	}

	.icon.facebook,.icon.google,.icon.instagram,.icon.twitter {
		width: 25px;
		height: 25px;
		background-size: 25px 25px
	}

	.icon.facebook {
		background-image: url(../images/social-media/icon_pc-01.svg)
	}

	.icon.google {
		background-image: url(../images/social-media/icon_pc-02.svg)
	}

	.icon.twitter {
		background-image: url(../images/social-media/icon_pc-03.svg)
	}

	.icon.instagram {
		background-image: url(../images/social-media/icon_pc-04.svg)
	}
}

.loading ._mask,.loading .loading-icon,.video-slider {
	width: 100%;
	height: 100%;
	position: absolute
}

.loading ._mask {
	filter: alpha(opacity=70);
	opacity: .7;
	display: block;
	top: 0;
	left: 0
}

.loading .loading-icon {
	display: block;
	background: url(../images/icons/loading.gif) center center no-repeat;
	top: 0;
	left: 0
}

.video-slider-photo {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center
}

.slider-photo,.small-slider {
	position: relative;
	top: 0;
	width: 100%;
	overflow: hidden;
	left: 0;
	z-index: 1
}

.slider-photo {
	cursor: default
}

.small-slider {
	margin: 0 auto;
	right: 0
}

.bx-prev,.bx-next {
	display: block;
	position: absolute !important;
	width: 40px !important;
	height: 58px !important;
	cursor: pointer;
	background: url(../images/icons/a22.png) center center no-repeat !important;
	overflow: hidden;
	z-index: 1;
	margin-top: -30px !important;
}

// .jssora22l,.jssora22r {
// 	display: block;
// 	position: absolute;
// 	width: 40px;
// 	height: 58px;
// 	cursor: pointer;
// 	background: url(../images/icons/a22.png) center center no-repeat;
// 	overflow: hidden;
// 	z-index: 1
// }

#cboxClose,#cboxOverlay {
	background-repeat: no-repeat
}

.bx-prev {
	background-position: -10px -31px !important;
}

// .jssora22l {
// 	background-position: -10px -31px
// }

.bx-next {
	background-position: -70px -31px !important;
}

// .jssora22r {
// 	background-position: -70px -31px
// }

.bx-prev:hover {
	background-position: -130px -31px !important;
}

// .jssora22l:hover {
// 	background-position: -130px -31px
// }

.bx-next:hover {
	background-position: -190px -31px !important;
}

// .jssora22r:hover {
// 	background-position: -190px -31px
// }

.jssora22l.jssora22ldn {
	background-position: -250px -31px
}

.jssora22r.jssora22rdn {
	background-position: -310px -31px
}

#cboxClose,#cboxClose:hover,#cboxNext:hover,#cboxPrevious:hover {
	background-position: center
}

@media screen {
	.slider-photo,.small-slider {
		height: 150px
	}

	.detail-slider .slider-image,.small-detail-slider .slider-image {
		height: 100%;
		background-size: cover
	}

	.jssor,.slider-wrapper {
		position: relative
	}

	.detail-slider {
		margin: 0 auto
	}

	.detail-slider .jssor,.detail-slider .slider-photos {
		padding-bottom: 65.38461538%;
		width: 100%
	}

	.small-detail-slider {
		margin: 0 auto 20px;
		border-top: 1px solid #b8b4b2;
		padding-top: 15px
	}

	.small-detail-slider .jssor,.small-detail-slider .slider-photos {
		padding-bottom: 21.7926923062%;
		width: 100%
	}
}

#cboxLoadingGraphic,#cboxNext,#cboxPrevious {
	background: 0 0
}

@media screen and (min-width:768px) {
	.slider-photo,.small-slider {
		height: 200px
	}

	.detail-slider .jssor,.detail-slider .slider-photos {
		padding-bottom: 60%
	}

	.small-detail-slider .jssor,.small-detail-slider .slider-photos {
		padding-bottom: 15%
	}
}

@media screen and (min-width:1280px) {
	.slider-photo,.small-slider {
		height: 260px
	}
}

#cboxContent {
	overflow: visible
}

#cboxNext,#cboxPrevious {
	display: none;
	top: calc(50% - 25px);
	width: 40px;
	height: 50px
}

#cboxNext {
	left: auto;
	right: 0
}

#cboxCurrent {
	float: none;
	display: none;
	margin: 0 auto;
	width: 100%;
	left: auto;
	text-align: center;
	font-size: 24px;
	bottom: -5px;
	color: #fff;
	height: 0
}

#cboxOverlay {
	background-image: none;
	background-color: rgba(0,0,0,.9);
	background-position: 0 0
}

#cboxClose {
	bottom: auto;
	top: -32px;
	left: 0;
	background-image: url(../images/icons/colorbox-close.png);
	background-size: 18px 18px;
	z-index: 1;
	outline: 0
}

#cboxContent,#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxTopLeft,#cboxTopRight {
	background-color: rgba(255,255,255,.75);
	background-image: none
}

#cboxBottomCenter,#cboxBottomLeft,#cboxBottomRight {
	display: none;
	background-image: none
}

#cboxTopCenter,#cboxTopLeft,#cboxTopRight {
	height: 40px
}

#cboxMiddleLeft,#cboxMiddleRight,#cboxTopLeft,#cboxTopRight {
	width: 6px
}